<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/icon.png}"/>

    <title>OCR</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="jumbotron text-center shadow p-3 mb-5 bg-white rounded">
    <h1><a href="/index" class="title">OCR rozpoznawanie tekstu na obrazie</a></h1>
    <p>Konwertuj pliki PDF, JPG, JPEG ,TIFF, PNG, BMP lub pliku z linku URL</p>
</div>
<div class="container">
    <form name="#" th:object="${urlResult}" th:action="@{/urlOCR}" method="post">
        <div class="input-group mb-3">
            <input type="text" th:field="*{url}" class="form-control" placeholder="Podaj link...">
            <div class="input-group-append">
                <button class="btn btn-secondary loader-btn" type="submit">Załaduj link</button>
            </div>
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
    </form>


    <div>
        <p class="d-flex justify-content-center">lub</p>
    </div>


    <form name="#" enctype="multipart/form-data" th:object="${fileResult}" th:action="@{/fileOCR}" method="post">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" th:field="*{multipartFile}" id="inputGroupFile04" lang="pl-PL"><div id="message"></div>
                <label class="custom-file-label" for="inputGroupFile04" data-browse="Przeglądaj" >Wybierz plik...</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary loader-btn" type="submit">Prześlij</button>
            </div>
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('multipartFile')}" th:errors="*{multipartFile}"></p>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <span class="d-flex justify-content-center">2019 - Artur Cwiklinski</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="application/javascript">
    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });

    $(document).ready(function() {
        $('.loader-btn').on('click', function() {
            var $this = $(this);
            var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Konwertowanie';
            if ($(this).html() !== loadingText) {
                $this.data('original-text', $(this).html());
                $this.html(loadingText);
            }
        });
    })

    // function myfunction()
    // {
    //     if (jQuery('#videoUploadFile').val() == '') {
    //         $('#message').html("Please Attach File");
    //     } else {
    //         alert('not work');
    //     }
    // }






</script>


</body>
</html>