<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/icon.png}"/>

    <title>OCR</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="jumbotron text-center shadow p-3 mb-5 bg-white rounded">
    <h1>OCR rozpoznawanie tekstu na obrazie</h1>
    <p>Konwertuj pliki PDF, JPG, JPEG ,TIFF, PNG, BMP lub z linku URL</p>
</div>
<div class="container">
    <div class="panel panel-success shadow p-3 mb-5 bg-white rounded position-relative" style="padding-right: 50px">
        <button type="button" onclick="copyToClipboard('.panelCopy')" id="buttonCopy" class="btn btn-dark buttonCopy"
                style="float: right; margin-bottom: 10px;">Kopiuj
        </button>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Wynik</label>
            <textarea class="form-control rounded-0 panelCopy" id="exampleFormControlTextarea1" rows="10"
                      th:text="${urlResult.getResult()}">
                    </textarea>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="d-flex justify-content-center">2019 - Artur Cwiklinski</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
</body>
</html>